footer {
  background-color: var(--second-color);
  color: var(--white-color);
}
footer span {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid white;
}
footer > p {
  background-color: #1a252f;
}
